<div id="form">

    <form action="/form/contact" method="POST">

    <input type="text" name="username" placeholder="Your username...">
    <input type="password" name="password" placeholder="Your password...">

    <input type="submit" value="Send">

    </form>

</div>