<div id="croix-rouge">

    <img src="../src/img/téléchargement.jpg" alt="croix-rouge">

    <h1>croix rouge</h1>

    <p>La Croix-Rouge française est une association d'aide humanitaire française fondée en 1864. Elle a pour objectif de
        venir en aide aux personnes en difficulté en France et à l'étranger. Ses missions fondamentales sont l'urgence,
        le
        secourisme, l'action sociale, la formation, la santé et l'action internationale.</p>

</div>