<div id="home">

    <ul>
        <a href="/associations/croix-rouge">
            <li>Croix Rouge</li>
        </a>
        <a href="/associations/konexio">
            <li>Konexio</li>
        </a>
        <a href="/associations/restau-du-coeur">
            <li>Restau du coeur</li>
        </a>
        <a href="/form/contact">
            <li>Contacter</li>
        </a>
    </ul>

</div>