<div id="konexio">

    <img src="../src/img/téléchargement.png" alt="konexio">

    <h1>Konexio</h1>

    <p>"Konexio propose des formations gratuites aux compétences informatiques et métiers de la tech pour ouvrir à tous
        les opportunités du numérique.</p>

</div>